extends base

block content 
    #body 
        #books-card-container
            #total-books 
                span 321
                p Total Books
            #added-today-books 
                span 321
                p Total Books Added Today 
        h3.dashboard-body-header Browse popular books
        #horizental-card 
            #dashboard-card 
                #book-info 
                    h4 Laputa Castle In The Sky
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla debitis, modi et nobis sint odio a cumque officiis? Praesentium ex dolorum natus! Distinctio, nemo a facilis eligendi 
                    span Author - <i>Studio Ghibli</i>
                img(src="/img/castleinthesky.png", alt="Castle In The Sky")
            #dashboard-card 
                #book-info 
                    h4 Laputa Castle In The Sky
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla debitis, modi et nobis sint odio a cumque officiis? Praesentium ex dolorum natus! Distinctio, nemo a facilis eligendi 
                    span Author - <i>Studio Ghibli</i>
                img(src="/img/castleinthesky.png", alt="Castle In The Sky")
            #dashboard-card 
                #book-info 
                    h4 Laputa Castle In The Sky
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla debitis, modi et nobis sint odio a cumque officiis? Praesentium ex dolorum natus! Distinctio, nemo a facilis eligendi 
                    span Author - <i>Studio Ghibli</i>
                img(src="/img/castleinthesky.png", alt="Castle In The Sky")
            #dashboard-card 
                #book-info 
                    h4 Laputa Castle In The Sky
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla debitis, modi et nobis sint odio a cumque officiis? Praesentium ex dolorum natus! Distinctio, nemo a facilis eligendi 
                    span Author - <i>Studio Ghibli</i>
                img(src="/img/castleinthesky.png", alt="Castle In The Sky")
        #prev-next 
            button Prev 
            button Next
            